.container {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  margin: 10px;
  text-align: center;
  flex: 1;
  max-width: 33.33%;
  transition: flex 0.5s;
}

.card.expanded {
  flex: 100%;
  max-width: 100%;
}
.b-div {
  padding: 20px;
  background-color: #eeeeee;
}
.bbu {
  background-color: #04aa6d;
   padding: 5px 25px 5px 25px;
   color: #fff;
   border: none;

}
p {
  border-bottom: 1px solid #e4e5e7; 
  margin: 0 !important;
  padding: 20px;
  font-weight: 600;
}
.p1 {
  background-color: black;
  color: #fff;
  font-size: 26px;
}
.g1 {
  background-color: #04aa6d;
  color: #fff;
  font-size: 26px;
}
.p2 {
  background-color: #eeeeee;
}
.container {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  /* padding: 20px; */
  margin: 10px;
  text-align: center;
  flex: 1;
  max-width: 33.33%;
  transition: flex 0.5s;
}

.card.expanded {
  flex: 100%;
  max-width: 100%;
}

.card.invisible {
  display: none;
}

button {
  display: block;
  margin: 10px auto;
}
